*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}
body{
    display: flex;
    background: linear-gradient( to bottom, rgb(255, 255, 255), rgb(209, 209, 209) 50%, #c0e66f 100%);
    height: 100%;
    justify-content: space-between;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    max-width: 20%;
    min-width: 10%;
    width: 10%;
    height: 10em;
    display: flex;
    justify-content: start;
    padding: 40px;
}
section{
  position: relative;
  min-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  padding: 40px;
  background-color: transparent;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

}

header img {
    object-fit: cover;
    position: relative;
}

.primerGiro{
    -webkit-transition: 900ms linear;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.segundoGiro{
    -webkit-transition: 900ms linear;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}



.celdaOculta{
    background-image: url(../IMG/samePlay.png);
    object-fit: contain;
    border: 1px solid black;

}

.celdaMostrada{
    position: relative;
    object-fit: cover;
    visibility: visible;
}

table{
    position: static;
    width: 900px;
    height: 700px;
    max-height: 100vh;
}

td{
    padding: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: contain;
}

.carta{
    width: 100%;
    height: 100%;
    object-fit: contain;
    visibility: hidden;
    -webkit-transition: 500ms linear;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#contador{
    column-count: 2;
    column-rule: solid 1px white;
}
.tituloContador{
    text-transform: uppercase;
    margin: 0 5px;
    padding: 0 2px;
    font-family: 'VT323', monospace;
    font-size: x-large;
}
.divContador{
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
    font-size: 5rem;
    text-align: center;
}



