*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

header{
    position: fixed;
    min-width: 100%;
    width: 10%;
    height: 10em;
    display: flex;
    justify-content: start;
    padding: 40px;
}
section{
  position: relative;
  min-width: max-content;
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  padding: 40px;
  background-color: transparent;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

header img {
    object-fit: cover;
    position: relative;
}
img:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    filter: blur(3px);
    transition-duration: 3000ms;
    animation-fill-mode: forwards;
}


body{
    display: flex;
    background: linear-gradient( to bottom, rgb(255, 255, 255), rgb(209, 209, 209) 50%, #c0e66f 100%);
}

