*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
}

header{
    position: fixed;
    min-width: 100%;
    width: 10%;
    height: 10em;
    display: flex;
    justify-content: start;
    padding: 40px;
}
section{
  position: relative;
  min-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  padding: 40px;
  background-color: transparent;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

}

header img {
    object-fit: cover;
    position: relative;
}

.primerGiro{
    -webkit-transition: 900ms linear;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.segundoGiro{
    -webkit-transition: 900ms linear;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

body{
    display: flex;
    background: linear-gradient( to bottom, rgb(255, 255, 255), rgb(209, 209, 209) 50%, #c0e66f 100%);
    height: 100%;
}

.oculto{
    background-image: url(../IMG/samePlay.png);
    object-fit: contain;
}

.carta{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





